@model ContosoUniversity.Models.Student

@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <br />
    <br />
    <hr />
    <h1>
        An Error has occured. That student already exists.
    </h1>
    <a asp-action="Index">Back to List</a>
</body>
</html>
